<mat-accordion>
    <mat-expansion-panel  *ngFor = "let book of books$ | async">
      <mat-expansion-panel-header>
        <mat-panel-title>
           Title: {{book.title}}
        </mat-panel-title>
       
      </mat-expansion-panel-header>
       Author: {{book.author}}     
    </mat-expansion-panel>
  </mat-accordion>